.form-container{
	position: relative;
	top: 30px;
	background: #FFF;
	padding:5%;
	border-radius: 10px;
	display: block;
	box-shadow: 0px 0px 0px 0.2px #000;
}
.bg{
	background-image: url("https://www10.wellsfargomedia.com/auth/static/images/COB-BOB-IRT-enroll_park.jpg");
	background-repeat: repeat-y;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #CD1409 !important;
    padding: 8px 40px !important;
}

.navbar{
	border-bottom:5px solid #FFC300;
}
input[type=text]{
  width: 60%;
  padding: 12px 20px;
  margin: 15px auto;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid;
}
input[type=checkbox]{
	padding-left: 10%;
	margin: 20px 0 30px 0;
}