.form-container{
	position: relative;
	top:30px;
	background: #FFF;
	padding:7%;
	border-radius: 10px;
	display: block;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #CD1409 !important;
    margin: 20px !important;
    padding: 10px 40px !important;
}

.navbar{
	border-bottom:5px solid #FFC300;
}
input[type=text]{
  width: 100%;
  padding: 0px 15px;
  margin: 15px auto;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid;
  font: 20px/3 sans-serif;
}
